@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins:wght@500&family=Ubuntu:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */
  font-family: "Ubuntu", sans-serif;
}

html {
  font: 62.5%;
}

.main-div {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(206, 67%, 87%);
}

.inner-div {
  width: 60vw;
  height: 80vh;
  background-color: aliceblue;
  padding: 3rem 8rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0rem 0 1.5rem 0;
}

.inner-div li {
  font-size: 1rem;
  margin-top: 1rem;
  list-style: none;
}

input {
  cursor: pointer;
}

#submit,
.btn {
  padding: 0.9rem 3rem;
  outline: none;
  font-weight: 600;
  display: block;
  margin: auto;
  border: none;
  color: aliceblue;
  background-color: #66b1fd;
  margin-top: 2rem;
}
#submit:hover {
  background-color: #4b54fd;
}

#showScore {
  background-color: rgb(185, 194, 194);
  margin-top: 2rem;
  padding: 2vh 6vh;

  box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}
#showScore h3 {
  font-size: 2rem;
  text-align: center;
}

#showScore .btn {
  margin-top: 2rem;
  background-color: #4af2c2;
  color: #2d3464;
}
#showScore .btn:hover {
  background-color: #2fc99e;
  cursor: pointer;
}

.scoreArea {
  display: none;
}
